@import "tailwindcss";

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}


@theme {
  --font-sans: 'Sora', sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
  
}
/*
@font-face {
  font-family: Sora;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/assets/fonts/Sora.woff2") format("woff2");
}

@theme {
  --font-Sora: 'Sora';
}